In [8]:
import pandas as pd 
import numpy as np
import nltk
nltk.download('punkt')
from sklearn.model_selection import train_test_split
from gensim.scripts.glove2word2vec import glove2word2vec
import random

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [12]:
df = pd.read_csv('/content/SQuAD-v1.1.csv')
df.head()

                      title  ... answer_end
0  University_of_Notre_Dame  ...        541
1  University_of_Notre_Dame  ...        213
2  University_of_Notre_Dame  ...        296
3  University_of_Notre_Dame  ...        420
4  University_of_Notre_Dame  ...        126

[5 rows x 6 columns]

In [13]:
df.shape

(87599, 6)

In [14]:
df['tokenized_questions'] = df['question'].apply(nltk.word_tokenize)
df['tokenized_context'] = df['context'].apply(nltk.word_tokenize)

In [15]:
df2 = df[['tokenized_questions', 'context', 'tokenized_context']]
df2.head()

                                 tokenized_questions  ...                                  tokenized_context
0  [To, whom, did, the, Virgin, Mary, allegedly, ...  ...  [Architecturally, ,, the, school, has, a, Cath...
1  [What, is, in, front, of, the, Notre, Dame, Ma...  ...  [Architecturally, ,, the, school, has, a, Cath...
2  [The, Basilica, of, the, Sacred, heart, at, No...  ...  [Architecturally, ,, the, school, has, a, Cath...
3        [What, is, the, Grotto, at, Notre, Dame, ?]  ...  [Architecturally, ,, the, school, has, a, Cath...
4  [What, sits, on, top, of, the, Main, Building,...  ...  [Architecturally, ,, the, school, has, a, Cath...

[5 rows x 3 columns]

In [16]:
train, test = train_test_split(df2, test_size=0.2)
train.head()

                                     tokenized_questions  ...                                  tokenized_context
47078  [Roughly, how, many, passengers, travel, daily...  ...  [London, 's, first, and, only, cable, car, ,, ...
72460  [What, the, profession, of, Gian, Carlo, Menot...  ...  [Charleston, is, known, for, its, unique, cult...
34007  [Which, works, by, the, Grub, Street, Hacks, `...  ...  [The, writers, of, Grub, Street, ,, the, Grub,...
35108  [What, article, of, the, fourth, Michigan, Con...  ...  [Several, states, have, never, had, capital, p...
56647           [Where, was, the, TV, Tower, located, ?]  ...  [On, January, 13, ,, 1991, ,, Soviet, troops, ...

[5 rows x 3 columns]